$base_font: Gilroy, "san-serif";
$main_color: #024c67;

.container {
    font-family: $base_font;
    color: $main_color;
}

.currency {
    color: $main_color;
    font-weight: bold;
}

tbody {
    tr {
        border-bottom: 2px solid rgba(58, 165, 208, 0.4) !important;
        padding-bottom: 10px;
    }
}

.form-group input {
    transition: none;
}
