.calculator-result .thead .th, .calculator-result .tbody .td{
    width: 20% !important;
}
.calculator-result .tbody .td .name{
    padding-left: 0% !important;
}
.datepicker {
    position: absolute !important;
    background: white;
    border: 1px solid rgba(0,0,0,.2);
}
.input-daterange input{
    border-radius: 15px !important;
    text-align: left !important;
}
@media (max-width: 575px)
{
    .input-daterange {
        display: initial !important;
    }
}