.filter-table >.thead .th{
    width: 25% !important;
}
.filter-table{
    margin-bottom: 30px;
}
.filter-result {
    margin-top: 30px !important;
}
.filter-result__title {
    padding-bottom: 30px !important;
}
.align-items-center{
    align-items: center !important;
}
.bank-name h1{
    font-size: 1.3em;
    margin: 0;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.filter-result__title {
    margin-bottom: 0;
}
.filter-result__title:after{
    content: none;
}
.btn-search{
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
    font-size: 21px;
}
.btn-search:hover{
    font-size: 22px;
}
.btn-search:active{
    font-size: 21px;
}
.div-icon{
    width: 20px;
    text-align: center;
    font-size: 20px;
}
.color-a a{
    color: #3aa5d0;
}
.color-a a:hover {
    color: #3aa5e0;
}
.bank-row .color-a{
    width: 100%;
    overflow: hidden;
}
.el-3 div.big,
.el-4 div.big{
    margin-bottom: 5px;
}
.bank-row .btn--medium{
    min-width: 100% !important;
}
.el-4 div{
    width: 100%;
}
.bank-img{
    width: 100px;
}
.rating-max i{
    color: #0dd149;
}
.tr-more{
    background-color: #eff1f5;
}
.tr-more .content{
    padding: 10px 0px;;
}
.tr-more .content .tab-nav{
    margin-bottom: 10px;;
}
.tab-pane .big{
    padding-bottom: 5px;
}
.left-container{
    padding-right: 0px;
}
@media (max-width: 768px){
    .rating-mini{
        display: initial !important;
    }
    .d-min{
        display: flow-root !important;
    }
    .d-min > .small{
        float: right !important;
    }
    .licence{
        display: none;
    }
    .filter-result{
        margin-top: 20px;
    }
    .filter-result__title {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .tbody > div > div{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .header__search{
        display: none;
    }
    .header{
        margin-bottom: 0;
    }
    .bank-object{
        border: 1.5px solid #dedede;
        border-radius: 8px;
    }
    .bank-object:not(:last-child){
        margin-bottom: 8px;
    }
    .el-2{
        display: none;
    }
    .el-1,
    .el-3,
    .el-4{
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    .el-4 > div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .el-4>div>div:first-child{
        padding-right: 5px;
    }
    .el-4>div>div:last-child{
        padding-left: 5px;
    }
    .el-4{
        margin-bottom: 10px;
    }
    .el-1{
        padding-top: 10px;
    }
    .el-1,
    .el-3{
        padding-bottom: 10px;
    }
    .el-1 > div{
        display: flex;
        align-items: center;
    }
    .el-1 > div .big{
        padding-right: 20px;
    }
    .tbody.bank-name.card-border{
        border: none;
        padding: 0px;
    }
    .left-container{
        padding-left: 0px;
    }
    .tr-more .content{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 381px){
    .bank-img{
        width: 70px;
    }
    .bank-name h1{
        font-size: 16px;
    }
}

@media (min-width: 768px){
    .bank-row{
        display: flex;
        padding: 15px 10px;
    }
    .bank-row:not(:last-child){
        border-bottom: 1px solid #dedede;
    }
    .el-1,
    .el-2,
    .el-3,
    .el-4{
        display: flex;
        align-items: center;
        padding: 0px 10px;
        overflow: hidden;
    }
    .el-1,
    .el-4{
        text-align: center;
        justify-content: center;
    }
    .el-1{
        width: 15%;
    }
    .el-2,
    .el-3{
        width: 30%;
    }
    .el-4{
        width: 25%;
    }
    .el-4 > div > div:first-child{
        margin-bottom: 10px;
    }
    .tbody.bank-name.card-border{
        padding: 0px;
    }
    .advertisement-banner{
        min-height: 700px;
        background-image: url(http://placehold.it/350x750);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}