.info-label{
    display: block;
    color: white !important;
    font-size: 13px;
    padding: 3px 7px;
    background-color: #2196F3;
    border-radius: 10px;
    margin-top: 2px;
    text-align: center !important;
}
.others-label{
    display: inline-block;
    color: #024c67 !important;
    font-size: 13px;
    padding: 2px 5px;
    background-color: rgba(60,62,68,0.07);
    border: 1px solid #dedede;
    border-radius: 10px;
    margin-top: 2px;
    text-align: center !important;
    width: fit-content !important;
}
/* .other-labels{
    position: absolute;
    top: 10px;
    left: 32px;
} */

.modal-ui__dialog.detailed-search .modal-ui__content {
    max-width: 700px;
}
.select2-container{
     width: 100% !important;
}
.logo-wrap{
    margin-top: 0px !important;
}
.tr-more .head{
    margin-top: 15px;
}
.tr-more .content{
    padding-top:15px;
}
.tr-more .foot{
    padding-bottom: 15px;
}
label{
    font-size: 16px !important;
}
.filter-table>.thead .th {
    width: 16.6%;
}
.select2-selection--multiple >  ul > li{
    display: initial !important;
}

.td.card-img .logo.mobile-hidden img{
    max-width: 100%;
    max-height: 130px;
}
.w-100{
    width: 100% !important;
}

.tab-pane table{
    border-spacing: 0px;
}

.tab-pane table, .tab-pane table tr{
    width: 100%;
}

.tab-pane table tr td{
    padding: 10px 0px;
}

.tab-pane table tr:hover{
    background-color: #fafafa;
}

.tab-pane table tr td:first-child{
    width: 30%;
    color: #3aa5d0;
}

.tab-pane table tr td:last-child{
    width: 70%;
}

.td:first-child img{
    border-radius: 10px;
}

.td .card-name{
    display: flex;
    align-items: center;
}

@media (min-width:769px ){
    .filter-table.debit-cards .tbody .filter-item>.tr>.td, .filter-table.debit-cards>.thead .th{
        width: 14% !important;
    }
    .filter-table.debit-cards .tbody .filter-item>.tr>.td:first-child, .filter-table.debit-cards>.thead .th:first-child{
        width: 18% !important;
    }
    .filter-table.debit-cards .tbody .filter-item>.tr>.td:nth-child(2), .filter-table.debit-cards>.thead .th:nth-child(2){
        width: 19% !important;
    }
    .filter-table.debit-cards .tbody .filter-item>.tr>.td:last-child, .filter-table.debit-cards>.thead .th:last-child{
        width: 21% !important;
    }
    .filter-table .tbody .filter-item>.tr .td:first-child{
        padding: 15px 10px 10px 10px !important;
    }
    .hide-text{
        display: none !important;
    }
    .table.debit-cards .logo-wrap{
        padding: 0px !important;
    }
    .info-label{
        max-width: 200px;
    }
    .p-b{
        padding-bottom: 5px;
    }
    .td a.small.p-b{
        position: absolute;
        top: 20px;
        font-size: 20px !important;
        color: #024c67;
    }
    .td a.small.p-b:hover{
        color: #3aa5d0;
    }
    .td a.detailed-btn, .td a.min-202{
        position: absolute;
        bottom: 8px;
        right: 0px;
    }
    .td .add-comparison-debit, .td .add-comparison-debit-other{
        position: absolute;
        bottom: 40px;
        right: 0;
    }
}

@media (max-width: 768px){
    .select2-container--default .select2-selection--multiple{
      height: 40px;
    }
    .select2-container .select2-search--inline .select2-search__field{
      font-size: 14px;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered li{
      padding-left:5px;
      font-size: 14px;
    }
    .info-label{
        font-size: 12px;
        padding: 4px 5px;
        width: auto;
    }
    .cards.debit-card .td .add-to-balance{
        cursor:pointer; 
        border: none; 
        background-size: 20px; 
        width: 32px; 
        height: 32px; 
        position: absolute;
        right: 0px;
    }
    .logo.mobile-show{
        display: flex !important;
        align-items: center;
    }
    .mobile-show.label-container{
        width: 100% !important;
        padding:0px !important;
        display:flex !important;
    }
    .p-b{
        padding-bottom: 2px;
    }
    .p-y-5{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .tab-pane table tr td{
        width: 100% !important;
        display: block;
    }
    .tab-pane table tr td:first-child{
        padding: 0px 0px 5px 0px;
    }
    .tab-pane table tr td:last-child{
        padding: 0px 0px 12px 0px;
    }
}