.select2-container{
    width: 100% !important;
}

.logo-wrap{
    margin-top: 0px !important;
}
.tr-more .head{
    margin-top: 15px;
}
.tr-more .content{
    padding-top:15px;
}
.tr-more .foot{
    padding-bottom: 15px;
}
label{
    font-size: 16px !important;
}
.filter-form button:first-child {
    margin-bottom: 0px !important;
}

.select2-selection--multiple >  ul > li{
    display: initial !important;
}
@media (min-width:900px ) {
    .hide-text{
        display: none !important;
    }
    .purple_button{
      background-color:#3aa5d0!important;
    }
}
@media (max-width:900px ) {
    .purple_button{
      background-color:#3aa5d0!important;
    }
}
