@media (max-width: 575px){
	.select2-container .select2-search--inline .select2-search__field{
		font-size: 14px;
	}
}
@media (max-width: 768px){
    .td.mobile-hidden{
        display: none !important;
    }
}

@media (min-width: 768px){
	.td-20 .tbody .filter-item >.tr .td, .filter-table .tbody .filter-item >.tr .td {
    	width: 25%;
    }
    .filter-table .tbody .filter-item >.tr .td:not(:first-child) {
        padding: 10px 10px;
    }
}
@media (min-width: 1024px){
	.filter-table .tbody .filter-item >.tr .td {
    	width: 16%;
    }
    .td-20 .tbody .filter-item >.tr .td{
        width: 20%;
    }
}

.select2-selection--multiple >  ul > li{
    display: initial !important;
}
.select2-container{
     width: 100% !important;
 }
.logo-wrap{
    margin-top: 0px !important;
}
.tr-more .head{
    margin-top: 15px;
}
.tr-more .content{
    padding-top:15px;
}
.tr-more .foot{
    padding-bottom: 15px;
}

 label{
    font-size: 16px !important;
}
 #select2-select-banks-results > li:nth-child(1)::before,
 #select2-large-filter-provision-results > li:nth-child(1)::before,
 #select2-cr-type-provision-results > li:nth-child(1)::before{
     content: unset !important;
 }

.select2-search > input[aria-controls*="select2-region-results"] {
    display: initial !important;
}
.col-title {
    margin-bottom: 5px !important;
}