.logo-wrap{
    margin-top: 0px !important;
}
.tr-more .head{
    margin-top: 15px;
}
.tr-more .content{
    padding-top:15px;
}
.tr-more .foot{
    padding-bottom: 15px;
}
label {
    font-size: 16px !important;
}

.select2-selection--multiple >  ul > li{
    display: initial !important;
}
#select2-f-el-dp-addition_rules-results > li:nth-child(1)::before,
#select2-dp-percent-period-results > li:nth-child(1)::before,
#select2-select-banks-results > li:nth-child(1)::before
{
    content: unset !important;
}
.form-group .select2-container .select2-selection--single .select2-selection__rendered{
   padding-left: 11px;
}

@media (max-width:768px) {
  .select2-container .select2-search--inline .select2-search__field{
    font-size: 14px;
  }
  .tab-pane .percentage-table{
    overflow-x: inherit;
  }
  .tab-pane .percentage-table .thead, .tab-pane .percentage-table .tbody{
    min-width: inherit;
  }
  .col-6.col-md-3 a,
  .col-6.col-md-3 button{
    width: 100%;
  }
}
