.ajax-preloader {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  animation: fade_toggle 4s infinite;
}
.ajax-preloader .logo {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -33px;
}
.ajax-preloader .progress {
  position: relative;
  z-index: 1;
  transform: rotateX(180deg);
}
.ajax-preloader .progress__value {
  transform: rotate(90deg);
  transform-origin: center;
  stroke-dasharray: 339.292;
  stroke-dashoffset: 339.292;
  animation: progress 4s infinite;
}
@keyframes progress {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 339.292;
  }
}
@keyframes fade_toggle {
  0% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
    transform: scale(1);
  }
  95%, 100% {
    opacity: 0;
    transform: scale(0.8);
  }
}