.text-danger{
    color:darkred !important;
}
.text-white{
    color: white !important;
}

.select2-selection--multiple{

    border-radius: 8px !important;

    line-height: 2 !important;

}

.select2-selection--multiple > ul > li > input{

    height: auto !important;

    padding-left: 5px !important;

}

.select2-selection--multiple > ul{

    margin-top: 4px !important;

    margin-bottom: -5px !important;

}

.select2-selection--multiple > ul > li{

    margin-top: 0px !important;

}
.advantages__grid span{
    font-size: 16px;
}
.advantages__item {
    padding: 15px 15px;
}

.pulse {
    border-radius: 6px;
    padding: 0px 1px;
    -webkit-animation: pulse-attract 2s infinite;
    -moz-animation: pulse-attract 2s infinite;
    -o-animation: pulse-attract 2s infinite;
    animation: pulse-attract 2s infinite;
}
.pulse:hover {
    animation: none;
}
  
@-webkit-keyframes pulse-attract {
    0% {
      -webkit-box-shadow: 0 0 0 0 #a2d5f2;
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes pulse-attract {
    0% {
      -moz-box-shadow: 0 0 0 0 #a2d5f2;
      box-shadow: 0 0 0 0 #a2d5f2;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {

    background-color: #024c67 !important;

}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li{

    color:white !important;
    border: none!important;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color:white !important;
}


.select2-container--default .select2-results__option {
    padding-left: 30px;
    position: relative;
}

.select2-container--default .select2-results__option::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -8px;
    border-radius: 4px;
    border: 2px solid #e9e9e9;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: -30px;
    background-size: 10px;
    background-image: url(../temp/images/icons/check-white.svg);
}

.select2-container--default .select2-results__option[aria-selected=true]::before {
    background-position: center;
    background-color: #024c67;
    border-color: #024c67;
}

.filter-table .logo-wrap .logo{

    width: 100%;
    height: 130px !important;
    overflow: hidden;
}

.filter-table .add-to-balance{

    margin-bottom: 1px !important

}

.filter-table .logo-wrap .logo img {
    width: 140px;
    height: auto;
}

.filter-table.debit-cards .logo-wrap .logo img {
    width: 200px;
    height: auto;
}

.btn-banner-social-link, .btn-banner-social-link>span {
     text-transform: initial;
     padding-right: 8px;
     color: white;
     font-size: 16px !important;
     font-weight: 500 !important;
     margin-right: 10px;
}

.btn-banner-social-link:hover,.btn-banner-social-link>span:hover {
    color: #024c67;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s
}

.btn-banner-social-link>i{
    margin-right: 5px;
}

.select2-search{
    display: none !important;
}
.select2-selection--multiple >  ul > li{
    display: initial !important;
}
.currency-name-bank h1{
    font-size: 17px;
}

.btn--medium {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.btn--arrow:after {

    background-size: 15px;

    margin-bottom: -5px;

}
.widget-bank-logo{
    margin: 2px 0px 0px -55px;
    width: 48px;
    border: solid 1px #3aa5d0;
    border-radius: 8px;
    display: block;
    position: inherit;
}

.page-loader{
    z-index: 110;
    position: fixed;
    display: block;
    transition-delay: 0s;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    background: white;
}
.page-loader > div{
    top: 32%;
}

#select2-f-el-currency-results > li::before,
#select2-f-el-currency-large-results > li::before,
#select2-credit-auto-type-provision-results > li::before,
#select2-f-el-date-type-results > li::before,
#select2-large-f-el-currency-results > li::before,
#select2-large-f-el-date-results > li::before,
#select2-f-el-dp-percents_capitalization-results > li::before,
#select2-f-el-dp_open_type-results > li::before,
#select2-credit-goals-results > li::before,
#select2-first-compensation-results > li::before,
#select2-credit-issuing-form-results > li::before,
#select2-review-period-results > li::before,
#select2-f-el-date-small-results > li::before,
#select2-first-compensation-small-results > li::before,
#select2-f-el-date-results > li::before,
#select2-action-exchange-results > li::before,
#select2-currency-form-results > li::before,
#select2-f-el-currency-small-results > li::before,
#select2-auto-cr-type-provision-results > li::before,
#select2-edu-cr-provision-results > li::before,
#select2-edu-cr-compensation-results > li::before,
#select2-edu-cr-issuing-form-results > li::before,
#select2-edu-cr-goal-results > li::before
{
    content: unset !important;
}
#select2-f-el-currency-results > li,
#select2-f-el-currency-large-results > li,
#select2-credit-auto-type-provision-results > li,
#select2-first-compensation-small-results > li,
#select2-f-el-date-type-results > li,
#select2-large-f-el-currency-results > li,
#select2-large-f-el-date-results > li,
#select2-f-el-dp-percents_capitalization-results > li,
#select2-f-el-dp_open_type-results > li,
#select2-credit-goals-results > li,
#select2-first-compensation-results > li,
#select2-credit-issuing-form-results > li,
#select2-review-period-results > li,
#select2-f-el-date-small-results > li,
#select2-f-el-date-results > li,
#select2-action-exchange-results > li,
#select2-currency-form-results > li,
#select2-f-el-currency-small-results > li,
#select2-auto-cr-type-provision-results > li,
#select2-edu-cr-provision-results > li,
#select2-edu-cr-compensation-results > li,
#select2-edu-cr-issuing-form-results > li,
#select2-edu-cr-goal-results > li
{
    padding-left: 10px;
}

.filter-table .logo-wrap .label {
    margin-top: 0px;
}

.hide{
    display: none !important;
}
.d-block{
    display: block !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #0876a2 !important;
}
#select2-select-banks-results > li:nth-child(4){
    border-bottom:1px solid !important;
}
.jq-dropdown .jq-dropdown-menu li>a:hover{
    background-color: #25a6cf !important;
    color: white !important;
}
.single-bank-services>.advantages__item>.jq-dropdown>.jq-dropdown-menu>li>a:hover{
    background-color: #dedede !important;
    color: inherit !important;
}
.jq-dropdown .jq-dropdown-menu li>a {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.currency-name-bank h1{
    color: #024c67 !important;
}
.select2-search > input::placeholder{
    color: #444 !important;
    font-weight: 500 !important;
}
.btn-search-form{
    position: absolute;
    right: 17px;
    top: 6px;
    cursor: pointer;
    font-size: 26px;
    border: none;
    background-color: #ffffff00;
}
.form-select{
    padding: 11px 0px 11px 10px;
    border-radius: 15px;
    border-color: #dedede;
    font-weight: 500;
    color: #4b4b4b;
}
.form-select option{
    color: #4b4b4b;
    font-weight: 500;


}
.form-select option:hover{
    box-shadow: 0 0 10px 100px #000 inset !important;
    color:red !important;
}

option:checked:hover, select:focus option:checked:hover {
    background-color: darkgoldenrod !important;
    color: darkgoldenrod !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder{
    color:#444;
}
.text-uppercase{
    text-transform: uppercase;
}
.position-relative{
    position:relative;
}
.update-time{
    position: absolute;
    right: 0px;
    top:-35px;
    font-size: 15px;
    font-weight: 500;
}
.update-time > span{
    vertical-align: super;
}

.update-time  :nth-child(1){
    display: grid;
    position: absolute;
    text-transform: capitalize;
}.update-time > img{
    margin-left: 10px;
}
.update-time :nth-child(2){
    line-height:04;
    font-size: 10px;
    vertical-align: baseline;
    text-transform:initial;
}
.doc-text{
    text-transform: initial;
    line-height: 1.5;
}
/* .cr-name-div > span{
    width: -webkit-fill-available !important;
    position: relative;
    top:-8px;
} */
/* .cr-name-div > .big{
    position: relative;
    top:-8px;
} */

.other-rate{
    padding-top:8px;
    color:#024c67;
}

.befor-li > ul > li::before{
    content: none !important;
}
.befor-li > ul > li{
    margin: 0px !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #dedede;
}

.tab-nav a.active {
    border-color:#024c67;
    color:#024c67;
}
.list-style-none ul li i {
    margin-right: 8px !important;
}

.d-contents ul li div{
    display: contents !important;
}
.close{
    display: none;
}
.head-banner h2{
    text-align: left !important;
    line-height: 1;
    text-transform: initial;
    padding: 0px
}
.head-banner span{
    font-size: 37px;
    font-weight: 700;
    color: white;
}
.banner-footer{
    padding-top: 20px;
    padding-bottom:10px;
}
.banner-footer img{
    vertical-align: bottom;
    margin-left: 20px;
}

.btn-banner {
     text-transform: initial;
     border-radius: 3px;
     border:solid 2px white;
     padding: 4px;
     padding-left: 25px;
     padding-right: 25px;
     color: white
}

.btn-banner:hover{
    box-shadow: 0px 0px 5px 2px;
}

.table-service{
    max-width: 100%;
    width: 100%;
    table-layout: fixed;

}

.table-service thead tr{
    text-align: left;
}

.table-responsive{
    overflow-x:auto;
}

.table-service td{
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    padding: 5px;

}

.table-service{
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
}
.hover-title:hover{
    color: #024c67;
}

.hover-box-shadow:hover{
     box-shadow: 0px 0px 5px 2px;
     border-radius: 15px;
}
.p-8{
    padding: 8px !important;
}
.form-display{
    display: flex !important;
    flex-wrap: wrap !important;
}

.btn-captcha{
    border-radius: 3px;
}
.captcha > span {
    display: -webkit-inline-box;
}

.captcha-btn-form{
    display: grid;
    margin-bottom: 4px;
    margin-left: 4px;
}

.success-msg{
    background-color: #00ff5a70;
    border-radius: 3px;
    border:1px solid #0080008c;
    color: #197419;
    padding:5px ;
}
.new-td{
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}
.percentage-table .tbody .tr:not(:first-child) {
    border-top: 1px solid #d4d4d4 !important;
}
.header__nav{
    font-size: 17px;
}
.text-lowercase{
    text-transform: lowercase !important;
}

.cl-not-activa{
    color: #0000003d !important;
}
.dp-initial{
    display: initial !important;
}

.p-relative{
    position: relative !important;
}
.color-blue-light{
    color:  #3aa5d0 !important;
}
.display-inherit{
    display: inherit !important;
}
.select2-container--default .select2-selection--multiple:before {
    content: ' ';
    display: block;
    position: absolute;
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 15px;
    margin-left: -4px;
    margin-top: -2px;top: 50%;
    width: 0;cursor: pointer
}

.select2-container--open .select2-selection--multiple:before {
    content: ' ';
    display: block;
    position: absolute;
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
    height: 0;
    right: 15px;
    margin-left: -4px;
    margin-top: -2px;top: 50%;
    width: 0;cursor: pointer
}
.color-not-active{
    color: #024c676b !important;
}
.font-dp {
    font-size: 18px;
}

.blackred{
    color: #d10000; 
}
.whitered{
    color: #f66b6bcf;
}
.yellow{
    color: #ff7f00d1;
}
.whitegreen{
    color: #0dd149d9;
}
.blackgreen{
    color: #00aa34d9;
}

.r-add-form-left-text{
    position: absolute;
    left: -154px;
    top: 23px;
    max-width: 159px;
    height: 100px;
    padding: 5px;
    font-size: 14px;
    text-align: right;
    border-color: #aaaaaa;
    border-radius: 5px;
}

.hots-line{
    padding-top: 8px;
    padding-bottom: 8px;
    text-align:center;
    position: relative;
    display: block;
    border: 1px solid #dedede;
    border-radius: 5px;
}
.h-l-btn{
    display: flex;
    justify-content: center;
}
.h-l-btn a {
    border: 1px solid #dedede;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    border-radius: 5px;
    color: #024c67;
}
.h-l-btn a:hover{
    color: #3aa5d0;
    box-shadow: 0px 0.5px 8px -1px;
}

.h-l-title{
    display:block;
    margin-top: 10px;
    margin-bottom: 15px;
    text-transform: inherit;
}
.h-l-img > a > span{
    height: 100px;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #dedede;
}

.h-l-user-info > .name{
    margin-bottom: 5px;
    margin-top: 15px;
    cursor: auto;
    color: #024c67;
    font-weight: 700;
    display: block;
}
.h-l-user-info > .user-position{
    margin-bottom: 15px;
    margin-top: 5px;
    cursor: auto;
    color: #024c6796;
    display: block;
}
.font-25{
    font-size: 25px;
}
.question-p-title{
    padding: 40px 0px;
}

.border-l-5{
    border-radius: 5px 0px 0px 5px;
}
.border-r-5{
    border-radius: 0px 5px 5px 0px;
}
.border-t-5{
    border-radius: 5px 5px 0px 0px;
}
.border-b-5{
    border-radius: 0px 0px 5px 5px;
}
.border{
    border:1px solid;
}
.border-5{
    border-radius: 5px;
}
.width-82{
    width: 82%;
}
.width-18{
    width: 18%;
}
.text-justify{
    text-align: justify !important;
}

.news-pagination ul{
    flex-wrap: wrap;
    display: initial;
}
.news-pagination ul li {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 18px;
    display: inline-grid;
    margin-top: 5px;
}
.news-pagination ul li span {
    border: 1px solid;
    padding: 5px 11px 3px 10px;
    border-radius: 5px;
}
.news-pagination ul li a {
    border: 1px solid;
    padding: 5px 11px 3px 10px;
    border-radius: 5px;
}
.news-pagination  ul .active span{
    background: #dedede !important;
}
.font-12{
    font-size: 12px !important;
}
.profile input{
    border: 1px solid #aaa;
}

.profile label{
    color: #000;
    opacity: .6;
    font-weight: 500;
 }

 .profile-links{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: auto;
 }
 .profile-links a{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 0px 10px 0px;
    color: #333333a8;
 }
.profile-link-active{
    border-bottom: solid 1px;
    color: #333333 !important;
}
.table-3x .thead,
.table-3x .tbody{
    overflow: hidden;
    overflow-x: auto;
    min-width: 350px !important;
}
.credit-btns div button,
.credit-btns div a{
    min-width: 100% !important;
}

.btn-outline-dark-blue{
    background-color: white !important;
    color: #024c67 !important;
    border: 1px solid #dedede !important;
    font-weight: 600 !important;
}
.btn-outline-dark-blue:hover{
    background-color: #024c67 !important;
    color: white !important;
}
.btn-outline-dark-blue:after{
    margin-bottom: -3px;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    transition: .3s ease-in
}
.btn-badge{
    border-radius: 8px;
    padding: 2px 4px;
}
.order-container{
    padding-left: 0px;
    padding-right: 0px;
}
.order-container>h1{
    margin-top: 0px;
}
@media (max-width: 1400px){
    .header__nav li{
        margin-right: 12px !important;
    }
    .update-time{
        top:-35px !important;
    }
}
@media (max-width: 1200px){
    .jq-dropdown-menu {
        margin-top: 150px !important;
    }
}
@media (max-width: 992px){
    .btn--medium{
        font-size: 12px;
    }
    .widget-bank-logo{
        width: 35px !important;
    }
    .btn-banner-social-link>span{
        display: none;
    }
}
@media (max-width: 768px){

    .filter-table .tbody .filter-item>.tr .td:first-child {
      padding-right: 0 !important;
    }
    .filter-table .tbody .filter-item>.tr .td:first-child{
        padding-right: 0px;
    }
    .currency-name-bank h1{
        font-size: 10px !important;
    }
    .btn-search-form{
        top: 4px !important;
        font-size: 24px !important;
    }
    .r-add-form-left-text{
        position: initial !important;
        max-width: 100% !important;
        height: auto !important;
        padding: 5px !important;
        font-size: 14px !important;
        text-align: left !important;
        border-color: #aaaaaa !important;
        border-radius: 5px !important;
    }
    .head-banner{
        padding-left: 40px;
    }
    .arrow-card .text h3 {
        font-size: 13px !important;
    }
    .update-time{
        top:0px !important;
    }
    .credits .tr .td.mobile-50 .add-to-balance{
        margin-bottom: 2px !important;
    }
    .profile-links a{
        white-space: nowrap;
    }
    .question-p-title{
        padding: 0px 0px;
    }
    .font-dp {
        font-size: 16px;
    }
    .order-container h1{
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
    }
    .order-btn-container{
        text-align: right;
    }
    .order-btn-container button{
        width: 100%;
    }
}
@media (max-width: 575px){
    .img-style{
        height: 100px !important;
        max-width: 100px !important;
    }
    .advantages__grid span{
        font-size: 14px;
    }
    .btn-filter-bank{
        font-size: 10px !important;
    }
    .head-banner h2{
        text-align: left !important;
    }
    .head-banner span{
        font-size: 25px !important;
    }
    .select2-container--default .select2-selection--multiple {
        height: 40px;
    }
    .table-3x .tr{
        font-size: 14px !important;
    }
    .font-dp {
        font-size: 14px;
    }
    .tr-more .content .tab-nav a{
        margin-right: 10px;
    }
    .font-16{
        font-size: 16px !important;
    }
}
@media (max-width: 381px){
    .btn--medium-new {
        padding-left: 20px !important;
        padding-right: 20px !important;
        font-size: 12px !important;
    }
    .font-30{
        font-size: 25px !important;
    }
    .font-25{
        font-size: 20px !important;
    }
    .font-15{
        font-size: 13px !important;
    }
    .question-tab-btn {
        padding-left: 5px !important;
        padding-right: 6px !important;
        font-size: 10px !important;
    }
    .ex-sm-block{
        display: block;
        margin: 5px 0px;
        width: fit-content;
    }
}
@media (max-width: 330px){
    .btn-banner {
        padding-left: 10px;
        padding-right: 10px;
   }
}
@media (min-width: 575px){
    .img-style{
        height: 200px !important;
        max-width: 200px !important;
    }
}
@media (min-width: 768px){
    .update-time{
        top:-25px !important;
    }
    .banner-footer.text-lowercase{
        padding-top: 50px !important;
    }
    .col-md-8.head-banner.covid{
        margin-right: 300px;
    }
    .mobile-show{
        display: none !important;
    }
    .head-banner{
        padding-left: 110px;
        padding-right: 30px;
    }
    .filter-table .tbody .filter-item {
        padding: 0px !important;
        margin: 0px !important;
    }
    .mobile-btn-container{
        display: none !important;
    }
    .order-container h1{
        margin-bottom: 40px;
        font-size: 28px;
    }
}
@media (min-width: 991px){
    .update-time{
        top:-25px !important;
    }
}

.profile-page__head{
    font-size: 1.5rem !important;
}

