.news-img img{
	width: 100%;
	max-height: 200px;
	border-radius: 15px;
	box-shadow: 0px 0px 4px -2px;
}
.news-img{
	margin-bottom: 10px;
}
.news-items{
	text-align: center;
}
.news-title a, .read-news{
	color: #024c67;
	font-weight: 600;
}
.news-title a:hover, .read-news:hover{
	color: #3aa5d0;
}
.news-title{
	text-align: left;	
}
.text-left{
	text-align: left !important;
}
.news-img-large img{
	width: 100%;
	max-height: 500px;
	border-radius: 15px;
}
.b-new-title{
	font-size: 28px;
}
.news-text p{
	text-align:justify !important;
	line-height: 1.5;
}

@media (max-width: 768px){
	.hover-box-shadow{
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 575px)
{
	.news-img-large img{
		height: 200px;
	}	
	.news-all-content > div{
		padding-right: 15px !important;
	}
}
.read-news{
	 text-transform: uppercase;	
}
.news-pagination ul{
	display: flex;
}
.news-pagination ul li {
	padding-right: 4px;
	padding-left: 4px;
	font-size: 18px
}
.category{
	padding: 10px;
    background-color: aliceblue;
    display: inline-grid;
    border-radius: 8px;
    margin:4px;
    font-size: 12px;
    
}
.category-content{
	border: 1px solid #ccc;
    border-radius: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.category:hover{
	color: #024c67;
	background-color: #e9f5ff;
}

.category-context{
	padding: 10px;
    background-color: aliceblue;
    display: inline-grid;
    border-radius: 8px;
    margin:4px;
}

.news-all-content > div{
	padding-right: 0px;
}