table{
    border-collapse: collapse;
    border-spacing: 0px;
}
.orders-table table{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
.orders-table table tbody.unread{
    background-color: #fff7f9;
}
.orders-table table tbody.done{
    background-color: #f3f9fb;
}
.orders-table thead th{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: left;
}
.orders-table tbody td{
    padding: 15px 10px;
}
.orders-table tbody tr{
    border-bottom: 1px solid #dedede;
}
.orders-table tbody tr:hover{
    -webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 1;
}
.orders-table>div.col-md-12{
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 768px){

}

@media (min-width: 768px){
    
}