b{
    font-weight: bold !important;
}
.btn{
    overflow: hidden;
}
.card-bank-user{
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    border-color: #dedede;
    /* padding: 5px !important; */
    /* margin-bottom: 10px; */
}
.card-bank-user:hover{
    box-shadow:0px 1px 13px -1px;
}
.card-bank-user > .card-user-info > span{
    display: block;
}
.card-user-image {
    text-align: center;
}
.card-user-image img{
    height: 100px;
    width: auto;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #dedede;
}
.card-user-position{
    color: #024c679c;
}
.card-user-name{
    margin-bottom: 10px;
}
.textarea{
    border-radius: 5px !important;
}
.question-category a:hover{
    box-shadow: 1px 1px 10px -2px;
}
.question-category a{
    float:left;
    border-radius: 5px;
    border:1px solid;
    border-color:#dedede; 
    padding:5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.width-82{
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
} 
.active-btn{
    background-color: #0b6080;
    color: #c7c7c7;
}
.tab-question-list {
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.active-tab {
    border-bottom: 2px solid;
}
a.tab-question-list:not(:hover),
.question-category a:not(:hover) {
    color: #333;
}
.tab-question-list:hover{
    border-bottom: 2px solid;
}
.select2-container--default .select2-results__option::before{
    content: none !important;
}
.select2-container--default .select2-results__option {
    padding-left: 15px !important;
}
.bank-name .question-card{
    border: 1px solid #dedede;
    background-color:#eff1f5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px 10px;
}

.card-user-image span,
.question-card span.banker-img{
    height: 100px;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #dedede;
}

.col-12.faq{
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    color: #333;
}
.btn-container a{
    margin-top: 10px;
}
.banker-info h3{
    margin: 0px;
    font-weight: 600;
}
.banker-info p{
    color: #7e8595;
    font-size: 14px;
}
.review-card__title{
    font-weight: 500 !important;
    font-size: 16px !important;
}
.col-md-8 .font-25{
    font-weight: normal;
    font-size: 23px;
}
@media (max-width: 1200px){
    .card-user-image span, .question-card span.banker-img{
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 768px){
    .col-md-6.banker-card-container:not(:last-child){
        padding: 0px 0px 5px 0px;
    }
    .col-md-6.banker-card-container:last-child{
        padding: 0px;
    }
    .card-user-image span, .question-card span.banker-img{
        width: 70px;
        height: 70px;
    }
    .question-p-title{
        text-align: center !important;
    }
    .question-p-title>.btn{
        margin-bottom: 10px;
        font-size: 12px !important;
        min-width: 150px !important;
    }
    .question-card .col-12.faq{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .mobile-centered{
        text-align: center !important;
    }
}

@media (max-width: 576px){
    .card-user-image span, .question-card span.banker-img{
        width: 60px;
        height: 60px;
    }
    .banker-container > .col-10{
        padding-left: 40px;
    }
}

@media (max-width: 392px){
    .card-user-image span, .question-card span.banker-img{
        width: 50px;
        height: 50px;
    }
    .btn.btn--medium{
        font-size: 9px;
        padding: 0px 2px !important;
        height: 20px;
        line-height: 20px;
    }
    .mobile-centered .btn.btn--medium{
        font-size: 17px;
        padding: 0px 20px !important;
        height: 20px;
        line-height: 20px;
    }
}

@media (min-width: 769px){
    .col-md-6.banker-card-container:nth-child(odd){
        padding: 0px 5px 0px 0px;
    }
    .col-md-6.banker-card-container:nth-child(even){
        padding: 0px 0px 0px 5px;
    }
    .question-p-title{
        text-align: left !important;
    }
    .card-user-name{
        font-size: 17px;
    }
    .card-user-position{
        font-size: 16px;
    }
}