.select2-search {
    display: inherit !important;
}
.select2-container--default .select2-results__option {
    padding-left: 15px !important;
}
.select2-container--default .select2-results__option::before{
    content: none !important;
}
.select2-container--default .select2-results__option[role=group] {
    padding-left: 10px !important;
}
.news-pagination ul{
    display: flex;
}
.news-pagination ul li {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 18px
}
.input-loader{
    font-size: 20px;
    position: absolute;
    display: block;
    top: 12px;
    left: 100px;
}
.text-justify{
    text-align: justify;
}
.card-border {
    padding: 25px 20px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.tooltip:hover:before {
    top: -5px;
    left: 47px;
    transform: rotate(0deg);
}
.tooltip:hover:after {
    top: -30px;
    left: 0px;
}
.modal-region-span:hover{
    color: #0296ce;
}
.form-group label img{
    height: 20px;
    padding-right: 3px;
}
.form-group label{
    display: flex;
    align-items: center;
}
.bank-search{
    width: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 32px;
    border: 1px solid #dedede;
    padding-left: 15px;
    padding-right: 60px;
    font-size: 14px;
    letter-spacing: .5px;
}
.bank-search-icon{
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    width: 30px;
    background-image: url(/temp/images/icons/search.svg);
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: 18px 18px;
    -moz-background-size: 18px;
    -o-background-size: 18px;
    background-size: 18px;
    cursor: pointer;
}
table{
    border-collapse: collapse;
}
table, thead, tbody{
    width: 100%;
    border-spacing: 0px;
}
tr .small-table-cell{
    width: 12%;
}
tr .medium-table-cell{
    width: 18%;
}
.text-left{
    text-align: left !important;
}
thead tr th{
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    background-color: #eff1f5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 600;
}
tbody tr{
    border-bottom: 1px solid #dedede;
}
tbody tr td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
tbody tr:hover{
    background-color: #fafafa;
}
td{
     vertical-align: middle;
}
.average-rank-container span{
    display: block;
}
.average-rank-container span.stars i{
    color: #0dd149 !important;
}
tbody#ranking-table tr td:first-child{
    background-color: #fafafa;
}
tbody tr td:nth-child(2){
    font-weight: 700;
}
tbody tr td:nth-child(3){
    font-weight: 600;
}
@media (min-width: 769px){
    table{
        margin-top: 20px !important;
    }
}