.slidecontainer {
  width: 100%;
  margin-top: -13px;
  padding: 0px 15px !important;
}
.input-summa{
  border-radius: 3px !important;
}
.border-r-3{
  border-radius: 3px !important;
}
.slider-bar{
  width: 100%;
  height:2px;
  padding: 0px 15px;
  background-color:green;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px !important;
  /*margin: 0px 15px !important;*/
  padding: 0px !important;
  border:none !important;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background: linear-gradient(90deg, rgb(33, 150, 243) 0%, rgba(0, 255, 255, 0) 0%);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #2196f3;
  cursor: pointer;
  opacity: 1;

  //margin-top: 25px !important;
  border-radius: 50% 50% 50% 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #2196f3;
  cursor: pointer;
  opacity: 1;
   border-radius: 50% 50% 50% 50%;

}