.container {
  font-family: Gilroy, "san-serif";
  color: #024c67;
}

.currency {
  color: #024c67;
  font-weight: bold;
}

tbody tr {
  border-bottom: 2px solid rgba(58, 165, 208, 0.4) !important;
  padding-bottom: 10px;
}

.form-group input {
  transition: none;
}

