.suspended {
    position: absolute;
    top: -0.1px;
}
.suspended span {
  position: relative;
  display: block;
  text-align: center;
  color: #fb9302;
  padding: 4px 1px 1px;
  cursor: pointer;
}

.tooltip{
    display: inline;
 }
 
.tooltip:hover:after{
    background: #043c51a6;
    border-radius: 5px;
    top: 0px;
    color: #fff;
    content: attr(data-tooltip);
    left:  56px;
    font-size: 14px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
.tooltip:hover:before{
    border: solid;
    border-color: #043c51a6 transparent;
    border-width: 6px 6px 0 6px;
    top: 8px;
    content: "";
    left: 47px;
    position: absolute;
    z-index: 99;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.tooltip-down{
    display: inline;
 }
 
.tooltip-down:hover:after{
    background: #043c51a6;
    border-radius: 5px;
    top: 24px;
    color: #fff;
    content: attr(data-tooltip);
    left:  -100px;
    font-size: 16px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 280px;
}
.tooltip-down:hover:before{
    border: solid;
    border-color: #043c51a6 transparent;
    border-width: 6px 6px 0 6px;
    top: 18px;
    content: "";
    left: 0px;
    position: absolute;
    z-index: 99;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.fa-cs{
  font-size: 1.6em !important;
  padding-top: 5px;
}

@media (max-width: 768px){
    .suspended{
        top: -2px;
    }

    .tooltip-r:hover:after {
        width: 100% !important;
    }
}
@media (max-width: 381px){

    .tooltip-r:hover:after {
        width: 100% !important;
    }
}

.tooltip-r:hover:after {
    top: 50px !important;
    left: 0px;
    width: 50%;
}